/build/
node_modules/
NOTES
config/local*
http-server/target
http-server/build/artifacts

# KaTeX files
*.min.css
KaTeX_**.ttf
KaTeX_**.woff
KaTeX_**.woff2

# Twemoji Assets
public/twemoji/*.svg

# Integration Tests
tests/tmp/**/*
tests/artifacts/**/*
tests/visual/snapshots/**/*

# Mac OS
.DS_Store

# IDEs and Editors
.idea
.vscode
