:root {
  --color-background-default: #f5f5ff;
  --color-background-float: #fafaff;
  --color-background-dip: #ebebff;
  --color-foreground-contrast: #14151a;
  --color-foreground-dim: #70718f;
  --color-foreground-emphasized: #7070ff;
  --color-foreground-emphasized-hover: #8585ff;
  --color-foreground-match-background: #f5f5ff;
  --color-foreground-white: #ffffff;
  --color-foreground-black: #000000;
  --color-foreground-primary: #ff55ff;
  --color-foreground-success: #4fa877;
  --color-foreground-red: #aa5078;
  --color-foreground-yellow: #e5c001;
  --color-foreground-gray: #9494b8;
  --color-foreground-disabled: #b2b2cc;
  --color-border-hint: #e5e5ff;
  --color-border-focus: #7070ff;
  --color-border-contrast: #24252d;
  --color-border-default: #b8b8ff;
  --color-border-error: #aa5078;
  --color-border-merged: #ffe5ff;
  --color-border-match-background: #f5f5ff;
  --color-fill-secondary: #7070ff;
  --color-fill-secondary-hover: #8585ff;
  --color-fill-ghost: #e5e5ff;
  --color-fill-ghost-hover: #ebebff;
  --color-fill-separator: #eaeaf1;
  --color-fill-primary: #ff70ff;
  --color-fill-success: #4fa877;
  --color-fill-yellow: #ffe609;
  --color-fill-danger: #be7495;
  --color-fill-gray: #9494b8;
  --color-fill-primary-hover: #ff80ff;
  --color-fill-diff-green: #badeca;
  --color-fill-diff-green-light: #dcefe5;
  --color-fill-diff-red: #efdce4;
  --color-fill-diff-red-light: #f7eef2;
  --color-fill-float: #fafaff;
  --color-fill-float-hover: #ffffff;
  --color-fill-merged: #ffeeff;
}

:root[data-theme="dark"] {
  --color-background-default: #0a0d10;
  --color-background-float: #14151a;
  --color-background-dip: #000000;
  --color-foreground-contrast: #f9f9fb;
  --color-foreground-dim: #9494b8;
  --color-foreground-emphasized: #7070ff;
  --color-foreground-emphasized-hover: #8585ff;
  --color-foreground-match-background: #0a0d10;
  --color-foreground-white: #ffffff;
  --color-foreground-black: #000000;
  --color-foreground-primary: #ff55ff;
  --color-foreground-success: #4fa877;
  --color-foreground-red: #aa5078;
  --color-foreground-gray: #9494b8;
  --color-foreground-yellow: #e5c001;
  --color-foreground-disabled: #494a5a;
  --color-border-hint: #24252d;
  --color-border-focus: #7070ff;
  --color-border-contrast: #ebebff;
  --color-border-default: #2e2f38;
  --color-border-error: #aa5078;
  --color-border-merged: #3d003d;
  --color-border-match-background: #0a0d10;
  --color-fill-secondary: #7070ff;
  --color-fill-secondary-hover: #8585ff;
  --color-fill-ghost: #24252d;
  --color-fill-ghost-hover: #2e2f38;
  --color-fill-separator: #24252d;
  --color-fill-primary: #ff70ff;
  --color-fill-success: #4fa877;
  --color-fill-danger: #6b2b42;
  --color-fill-yellow: #ffe609;
  --color-fill-gray: #9494b8;
  --color-fill-primary-hover: #ff80ff;
  --color-fill-diff-red: #4d1929;
  --color-fill-diff-red-light: #2d060d;
  --color-fill-diff-green: #183425;
  --color-fill-diff-green-light: #142a1d;
  --color-fill-float: #14151a;
  --color-fill-float-hover: #1b1c22;
  --color-fill-merged: #1a001a;
}
