:root {
  --color-background-default: #f5f5ff;
  --color-background-float: #fafaff;
  --color-background-dip: #f5f5ff;
  --color-foreground-contrast: #232563;
  --color-foreground-dim: #70718f;
  --color-foreground-emphasized: #7070ff;
  --color-foreground-emphasized-hover: #8585ff;
  --color-foreground-match-background: #f5f5ff;
  --color-foreground-white: #ffffff;
  --color-foreground-black: #000000;
  --color-foreground-primary: #ff55ff;
  --color-foreground-primary-hover: #ff80ff;
  --color-foreground-success: #4fa877;
  --color-foreground-red: #aa5078;
  --color-foreground-gray: #9494b8;
  --color-foreground-yellow: #e5c001;
  --color-foreground-disabled: #b2b2cc;
  --color-border-hint: #dbdbff;
  --color-border-default: #dbdbff;
  --color-border-focus: #7070ff;
  --color-border-contrast: #24252d;
  --color-border-error: #ce97af;
  --color-border-merged: #ffe5ff;
  --color-border-match-background: #f5f5ff;
  --color-border-primary: #ff1aff;
  --color-border-primary-hover: #ff55ff;
  --color-border-selected: #dbdbff;
  --color-border-warning: #ffe609;
  --color-border-success: #97ceb0;
  --color-fill-secondary: #7070ff;
  --color-fill-secondary-hover: #8585ff;
  --color-fill-ghost: #ebebff;
  --color-fill-ghost-hover: #f5f5ff;
  --color-fill-separator: #dbdbff;
  --color-fill-primary: #ff70ff;
  --color-fill-primary-hover: #ff80ff;
  --color-fill-danger: #be7495;
  --color-fill-yellow: #ffe609;
  --color-fill-yellow-iconic: #ffff55;
  --color-fill-gray: #9494b8;
  --color-fill-diff-red: #efdce4;
  --color-fill-diff-red-light: #f7eef2;
  --color-fill-success: #4fa877;
  --color-fill-diff-green: #badeca;
  --color-fill-diff-green-light: #dcefe5;
  --color-fill-float: #fafaff;
  --color-fill-float-hover: #ffffff;
  --color-fill-merged: #ffeeff;
  --color-fill-selected: #ebebff;
  --color-fill-warning: #ffffe5;
}

:root[data-theme="dark"] {
  --color-background-default: #0a0d10;
  --color-background-float: #14151a;
  --color-background-dip: #000000;
  --color-foreground-contrast: #f9f9fb;
  --color-foreground-dim: #9494b8;
  --color-foreground-emphasized: #7070ff;
  --color-foreground-emphasized-hover: #8585ff;
  --color-foreground-match-background: #0a0d10;
  --color-foreground-white: #ffffff;
  --color-foreground-black: #000000;
  --color-foreground-primary: #ff55ff;
  --color-foreground-primary-hover: #ff80ff;
  --color-foreground-success: #4fa877;
  --color-foreground-red: #aa5078;
  --color-foreground-gray: #9494b8;
  --color-foreground-yellow: #e5c001;
  --color-foreground-disabled: #494a5a;
  --color-border-hint: #24252d;
  --color-border-default: #2e2f38;
  --color-border-focus: #7070ff;
  --color-border-contrast: #ebebff;
  --color-border-error: #6b2b42;
  --color-border-merged: #6b006b;
  --color-border-match-background: #0a0d10;
  --color-border-primary: #ff1aff;
  --color-border-primary-hover: #ff55ff;
  --color-border-selected: #232563;
  --color-border-warning: #4c4000;
  --color-border-success: #2a5a40;
  --color-fill-secondary: #7070ff;
  --color-fill-secondary-hover: #8585ff;
  --color-fill-ghost: #24252d;
  --color-fill-ghost-hover: #2e2f38;
  --color-fill-separator: #24252d;
  --color-fill-primary: #ff55ff;
  --color-fill-primary-hover: #ff80ff;
  --color-fill-danger: #4d1929;
  --color-fill-yellow: #ffe609;
  --color-fill-yellow-iconic: #ffff55;
  --color-fill-gray: #9494b8;
  --color-fill-diff-red: #4d1929;
  --color-fill-diff-red-light: #2d060d;
  --color-fill-success: #4fa877;
  --color-fill-diff-green: #183425;
  --color-fill-diff-green-light: #142a1d;
  --color-fill-float: #14151a;
  --color-fill-float-hover: #1b1c22;
  --color-fill-merged: #1a001a;
  --color-fill-selected: #16173d;
  --color-fill-warning: #191500;
}
