:root {
  --elevation-low: 0px 16px 32px 32px #00000070;
  --elevation-high: 0px 0px 1px var(--color-secondary),
    0px 8px 64px var(--color-secondary-5);
}

[data-theme="light"] {
  --elevation-low: 0px 16px 32px 16px #00000020;
  --elevation-high: 0px 0px 1px var(--color-secondary),
    0px 8px 64px var(--color-secondary-3);
}
