* {
  outline: none !important;
  box-sizing: border-box;
}

:root {
  --border-radius: 0.75rem;
  --border-radius-small: 0.5rem;
  --border-radius-round: 10rem;

  --content-max-width: 1920px;
  --content-min-width: 480px;

  --scrollbar-width: 0.5rem;

  --button-regular-height: 2.5rem;
  --button-small-height: 2rem;
  --button-tiny-height: 1.5rem;

  --glow: var(--color-secondary-3);
  --glow-error: var(--color-negative-3);
  --header-gradient: linear-gradient(
    180deg,
    var(--color-secondary-3) 0%,
    transparent 100%
  );
}

[data-theme="light"] {
  --header-gradient: linear-gradient(
    180deg,
    var(--color-secondary-2) 0%,
    transparent 100%
  );
}

html {
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-width: var(--content-min-width);
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-foreground);
  text-align: left;
  background-color: var(--color-background);
  scrollbar-width: thin;
  scrollbar-height: thin;
  scrollbar-color: var(--color-foreground-4) transparent;
}

@media (max-width: 720px) {
  body {
    min-width: 0;
  }
}

::selection {
  background: var(--color-primary);
  color: var(--color-background);
}

/* Chrome/Edge/Safari scrollbar */
*::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: var(--border-radius);
}
*::-webkit-scrollbar-corner {
  background: transparent;
}
*:hover::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: var(--color-foreground-4);
}

main {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-foreground);
  border-bottom-color: var(--color-foreground);
}
a:focus-visible {
  outline: solid !important;
  border-radius: var(--border-radius-small);
}
