* {
  outline: none !important;
  box-sizing: border-box;
}

:root {
  --border-radius-tiny: 2px;
  --border-radius-small: 4px;
  --border-radius-regular: 8px;
  --border-radius-round: 10rem;

  --scrollbar-width: 0.5rem;

  --button-regular-height: 2.5rem;
  --button-small-height: 2rem;
  --button-tiny-height: 1.5rem;
}

html {
  height: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-foreground-contrast);
  text-align: left;
  background-color: var(--color-background-default);
  scrollbar-width: thin;
  scrollbar-height: thin;
  scrollbar-color: var(--color-fill-separator) transparent;
}

::selection {
  background: var(--color-fill-yellow-iconic);
  color: var(--color-foreground-black);
}

/* Chrome/Edge/Safari scrollbar */
*::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: var(--border-radius-regular);
}
*::-webkit-scrollbar-corner {
  background: transparent;
}
*:hover::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: var(--color-fill-separator);
}

a {
  color: inherit;
  text-decoration: none;
}

pre {
  margin: 0;
}

.global-oid {
  color: var(--color-foreground-emphasized);
  font-size: var(--font-size-small);
  font-family: var(--font-family-monospace);
  font-weight: var(--font-weight-regular);
}

.global-commit {
  color: var(--color-foreground-dim);
  font-size: var(--font-size-small);
  font-family: var(--font-family-monospace);
  font-weight: var(--font-weight-semibold);
}

.global-counter {
  border-radius: var(--border-radius-tiny);
  background-color: var(--color-fill-ghost);
  color: var(--color-foreground-dim);
  padding: 0 0.25rem;
  display: block;
  min-width: 1.25rem;
  text-align: center;
}
.global-spacer {
  width: 1px;
  height: 100%;
  background-color: var(--color-fill-ghost);
}

@media (max-width: 720px) {
  body {
    min-width: 0;
  }
  .global-hide-on-mobile {
    display: none !important;
  }
}

@media (min-width: 721px) {
  .global-hide-on-desktop {
    display: none !important;
  }
}
