* {
  outline: none !important;
  box-sizing: border-box;
}

:root {
  --border-radius-tiny: 2px;
  --border-radius-small: 4px;
  --border-radius-regular: 8px;
  --border-radius-round: 10rem;

  --content-max-width: 1920px;
  --content-min-width: 400px;

  --scrollbar-width: 0.5rem;

  --button-regular-height: 2.5rem;
  --button-small-height: 2rem;
  --button-tiny-height: 1.5rem;
}

html {
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-width: var(--content-min-width);
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-foreground-contrast);
  text-align: left;
  background-color: var(--color-background-default);
  scrollbar-width: thin;
  scrollbar-height: thin;
  scrollbar-color: var(--color-fill-ghost) transparent;
}

@media (max-width: 720px) {
  body {
    min-width: 0;
  }
}

::selection {
  background: var(--color-fill-yellow);
  color: var(--color-foreground-black);
}

/* Chrome/Edge/Safari scrollbar */
*::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: var(--border-radius-regular);
}
*::-webkit-scrollbar-corner {
  background: transparent;
}
*:hover::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: var(--color-fill-ghost);
}

main {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

pre {
  margin: 0;
}

.global-hash {
  color: var(--color-foreground-emphasized);
  font-size: var(--font-size-small);
  font-family: var(--font-family-monospace);
  font-weight: var(--font-weight-regular);
}
